################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POCTestProject/.vs/POCTestProject
/POCTestProject/bin/Debug/netcoreapp3.1
